<h1>Dashboard: <%=@user.name%></h1>

<%= form_tag("/users/search", method: "get") do %>
    <%= text_field_tag(:q, nil, placeholder: 'Search colleagues') %>
<% end %>

<%= link_to "Create Request", feedback_request_new_path, class: 'button' %>

<h1>Pending Requests: <%= @user.pending_requests.count%></h1>
<ul>
  <% @user.pending_requests.each do |request| %>
      <li><%= link_to "Feedback Request from #{request.requester.name}", feedback_new_path(feedback_request_id: request.id, user_id: @user.id)%></li>
  <% end %>
</ul>

<% if @last_request %>
  <h1>Your last feedback request: <%= @last_request.title%></h1>
  <h3><%= @last_request.completion_percentage * 100%>% completed</h3>
  <ul>
    <% @last_request.feedbacks.each do |feedback| %>
        <li class="card"><%= "#{feedback.author.name} #{feedback.rating} #{feedback.description} #{feedback.created_at}" %></li>
    <% end %>
  </ul>
  <%= link_to "View all", users_show_feedback_requests_path%>
<% end %>

