<h1>Feedback for <%= @subject.name %></h1>

<%= form_tag(feedback_create_path) do %>
    <select name="rating">
    <% (1..10).each do |number| %>
      <option value="<%= number %>"><%= number %></option>
    <% end %>
    </select>
    <%= text_area_tag(:description, nil, placeholder: 'What was your observation?') %>
    <%= hidden_field_tag(:subject_id, @subject.id) %>
    <button class="button button-full" type="submit">Send feedback</button>
  <% end %>