<h1>Feedback from <%= @feedback.author.name %> to <%= @feedback.subject.name %></h1>
<ul>
  <li><%= @feedback.rating %></li>
  <li><%= @feedback.description %></li>
  <li><%= @feedback.created_at %></li>
</ul>